# All config keys will be converted to lower case.
# It's ok to use upper case or camel case for readability.

[filter]
disabled = false

[filter.defaultfilter]
disabled = false

[tracer]
disabled = false

[tracer.opentracer]
disabled = false

[collector]
disabled = false

[collector.dbcollector]
disabled = false
id = "haseeArch"

[collector.dbcollector.db]
table_prefix = "duetector_tracking"

[collector.dbcollector.db.engine]
url = "sqlite:///duetector-dbcollector.sqlite3"

[collector.dequecollector]
disabled = true
id = "haseeArch"
maxlen = 1024

[monitor.bcc]
disabled = false
auto_init = true
